<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bad Request - 400</title>
        <style>
            body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #2e3141;
            background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("./images/bg.jpg");
            background-size: auto,
            cover;
                    background-attachment: fixed,
            fixed;
                    background-position: center,
            center;
            }
            .container {
            margin-top: 100px;
            text-align: center;
            color: white;
            }
        </style>
    </head>
    <body>
        <div style="text-align: center; margin-top: 50px;">
            <h1>Bad Request - 400</h1>
            <p>Oops! It seems there's a problem with your request.</p>
            <p>Please check your input and try again.</p>
            <br>
            <a href="https://wired-bc.onrender.com">Home</a>
            <!-- You can include additional information or instructions here -->
        </div>
    </body>
</html>