<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Gallery- Wired Minds </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="https://wired-bc.onrender.com">Wired Minds BC HUB</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="https://wired-bc.onrender.com">Home</a></li>
								<li><a href="https://wired-bc.onrender.com/generic">About us</a></li>
								<li><a href="https://wired-bc.onrender.com/elements">Gallery</a></li>
								<li><a href="https://wired-bc.onrender.com/login">Log In</a></li>
								<li><a href="https://wired-bc.onrender.com/signup">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Gallery</h2>
								<p> Welcome to the Wired Minds BC Hub Gallery, a visual journey through the diverse and captivating projects, events, and moments that define our vibrant tech community. Explore the creativity, innovation, and dedication that make Wired Minds BC Hub a hub of tech excellence. Immerse yourself in our gallery, where each image tells a unique story of discovery and achievement.</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<section>
										<h3 class="major">Tech Showcases</h3>
										<p>Experience the future of technology through our tech showcases. Here, we feature cutting-edge developments, emerging technologies, and the latest trends in IT and Computer Science that inspire us to push the boundaries of innovation.<a href="#">Learn more</a>.</p>

									<section>
										<h3 class="major"> Events & Workshops</h3>
										<p>Relive the energy and excitement of our tech-centric events and workshops. From hackathons that push the boundaries of creativity to workshops that impart valuable skills, this section showcases the moments when knowledge meets action.</p>
									</section>

									<section>
										<h3 class="major">Innovative Projects</h3>
										<p>Witness the birth of groundbreaking ideas and innovations. Our innovative projects section highlights the tangible results of our community's hard work, featuring prototypes, demos, and technologies that are changing the tech landscape.</p>
									</section>

									<section>
										<h3 class="major">Community Life</h3>
										<p>Get a glimpse into the heart of our tech community. This section celebrates the spirit of collaboration and camaraderie among our members, whether they're working together on projects or simply enjoying tech-related activities.</p>
									</section>

									<section>
										<h3 class="major">Special Moments</h3>
										<p>Browse through special moments captured at Wired Minds BC Hub. From guest lectures by tech luminaries to memorable gatherings, this section reflects the human side of our tech-focused community.</p>
									</section>

									<section>
										<h3 class="major">images</h3>
										<h4></h4>
										<div class="box alt">
											<div class="row gtr-uniform">
												<div class="col-12"><span class="image fit"><img src="images/pic08.jpg" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="images/pic05.jpg" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="images/pic06.jpg" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="images/pic07.jpg" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="images/pic07.jpg" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="images/pic05.jpg" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="images/pic06.jpg" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="images/pic06.jpg" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="images/pic07.jpg" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="images/pic05.jpg" alt="" /></span></div>
											</div>
											<br>
										</div>
										<h3>Explore, Engage, and Be Inspired</h3>
										<p><span class="image left"><img src="images/pic09.jpg" alt="" /></span>Thank you for visiting the Wired Minds BC Hub Gallery. We invite you to immerse yourself in the visual world of tech innovation, where each image tells a story of creativity, collaboration, and discovery. As you explore our gallery, we hope you'll find inspiration, ideas, and a glimpse into the vibrant tech community that defines Wired Minds BC Hub.</p>
										<p><span class="image right"><img src="images/pic10.jpg" alt="" /></span>Ready to be a part of our dynamic tech ecosystem? Join our community and embark on your tech journey with us. Whether you're a student, or a tech enthusiast, there's a place for you here. Connect with us to shape the future of technology at Wired Minds BC Hub.</p>
									</section>

								</div>
							</div>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Have questions or eager to jump into the tech adventure at Wired Minds BC Hub? We'd love to hear from you! Whether you're a curious student, a faculty member with groundbreaking ideas, or a tech enthusiast from the community, connect with us below</p>

							<!--Email Form-->
							<form 
								method="POST" 
								action="https://formsubmit.co/mashigokagisotshepang@gmail.com" 
								target="https://wired-bc.onrender.com"
								>


								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name"  required/>
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" required/>
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="4" required></textarea>
									</div>
									<div class="field">
										<input type="hidden" name="_captcha" value="false"/>
									</div>

								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>

							</form>
							<ul class="contact">
								<li class="icon solid fa-home">
									Wired Minds BC Hub<br />
									Belgium Campus<br />
									Gauteng, Pretoria North
								</li>
								<!--<li class="icon solid fa-phone">(000) 000-0000</li>
								<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
								<li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>-->
								
							</ul>
							<ul class="copyright">
								<li>&copy; 2024 Wired Minds. All rights reserved.</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>