<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>About us - Wired Minds </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="https://wired-bc.onrender.com/">Wired Minds BC HUB</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="https://wired-bc.onrender.com">Home</a></li>
								<li><a href="https://wired-bc.onrender.com/generic">About us</a></li>
								<li><a href="https://wired-bc.onrender.com/elements">Gallery</a></li>
								<li><a href="https://wired-bc.onrender.com/login">Log In</a></li>
								<li><a href="https://wired-bc.onrender.com/signup">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>About Us</h2>
								<p>Welcome to Wired Minds BC Hub, the beating heart of tech innovation at Belgium Campus ITversity. Our mission is to cultivate a vibrant community of tech enthusiasts, innovators, and problem solvers. Since our inception, we've been at the forefront of cutting-edge technology, sparking creativity and fostering collaboration. Discover our journey, our vision, and the dynamic ecosystem that defines us.</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<h3 class="major">Our Vision</h3>
									<p>At Wired Minds BC Hub, our vision is to be a catalyst for tech-driven transformation. We aspire to empower the next generation of tech leaders, bridging the gap between classroom theory and real-world innovation. Our aim is to create a dynamic environment where big ideas are born, developed, and brought to life.</p>

									<p>We envision a future where every student, faculty member, and tech enthusiast has the tools, knowledge, and support to turn their innovative concepts into reality. By fostering a culture of curiosity, collaboration, and hands-on exploration, we seek to redefine the boundaries of what's possible in the realms of Information Technology and Computer Science. Through the convergence of diverse talents and cutting-edge technology, Wired Minds BC Hub aims to shape a future where technological innovation knows no bounds, and where our community leads the charge in solving the world's most pressing challenges. Join us on this exhilarating journey toward a tech-powered tomorrow.</p>

									<h3 class="major">Engage with Wired Minds BC Hub</h3>
									<p>At Wired Minds BC Hub, we invite you to engage, explore, and excel in the world of technology. It's not just about being a bystander; it's about becoming an active participant in our vibrant tech ecosystem. Under this umbrella, you'll find two key avenues:</p>

									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic11.jpg" alt="" /></a>
											<h3 class="major">Our Impact</h3>
											<p>Discover the Ripple Effect of Innovation. Delve into the stories of transformation and progress that have emanated from our dynamic community. Explore the tangible impact we've made on research, startups, and technology solutions that are shaping the world.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic12.png" alt="" /></a>
											<h3 class="major">Join Our Community</h3>
											<p>Become a Part of Something Bigger. This is your invitation to join a community of tech enthusiasts, innovators, and problem solvers. Find your place in our ecosystem, whether you're a student, faculty member, or tech professional, and become a driving force in the tech revolution.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>

								</div>
							</div>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Have questions or eager to jump into the tech adventure at Wired Minds BC Hub? We'd love to hear from you! Whether you're a curious student, a faculty member with groundbreaking ideas, or a tech enthusiast from the community, connect with us below</p>

							<!--Email Form-->
							<form 
								method="POST" 
								action="https://formsubmit.co/dariusmushi27@gmail.com" 
								target="https://wired-bc.onrender.com"
								>

								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name"  required/>
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" required/>
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="4" required></textarea>
									</div>
									<div class="field">
										<input type="hidden" name="_captcha" value="false"/>
									</div>

								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>

							</form>
							<ul class="contact">
								<li class="icon solid fa-home">
									Wired Minds BC Hub<br />
									Belgium Campus<br />
									Gauteng, Pretoria North
								</li>
								<!--<li class="icon solid fa-phone">(000) 000-0000</li>
								<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
								<li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>-->
								
							</ul>
							<ul class="copyright">
								<li>&copy; 2024 Wired Minds. All rights reserved.</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>