<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Wired Minds BC Hub</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="http://localhost:3500">Wired Minds BC Hub</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="http://localhost:3500">Home</a></li>
								<li><a href="http://localhost:3500/generic">About us</a></li>
								<li><a href="http://localhost:3500/elements">Gallery</a></li>
								<li><a href="http://localhost:3500/login">Log In</a></li>
								<li><a href="http://localhost:3500/signup">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-gem"></span></div>
							<h2>Wired Minds</h2>
							<p>Where Ideas Spark, Innovtions Ignite: Wired Minds BC Hub</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Augmented Reality (AR) </h2>
										<p>Buckle up for a ride where reality meets the digital realm! With AR, you can make unicorns appear in your living room or bring history to life right before your eyes. The possibilities are as endless as your imagination.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Machine Learning (ML) </h2>
										<p>Want to teach machines to think? Explore ML with us! Dive deep into datasets, unravel the mysteries of neural networks, and make computers do your bidding. Your journey to becoming a tech wizard starts here.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Web Development</h2>
										<p>Ever dreamt of building the next internet sensation? Whether you're a front-end artist or a back-end ninja, we've got the tools and expertise to make your websites dazzle and perform like a rockstar.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Explore Our Multifaceted Maker Space </h2>
									<p>Discover a World of Creativity and Innovation Beyond Machine Learning, Web Development, and AR at Our University Maker Space. Explore a Diverse Range of Projects, Workshops, and Resources that Fuel Your Imagination and Spark Your Inventive Spirit.</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Robotics</h3>
											<p>Robots, robots, robots! Our robotics lab is where you can build your mechanical buddies. Teach them to dance, navigate mazes, or even make you breakfast. The future of tech is yours to command.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Cyber Security</h3>
											<p>Join the league of digital superheroes! In our Cyber Security lab, you'll learn to hack for good, protect the digital realm from villains, and keep the internet safe for all.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3 class="major">Virtual Reality (VR) </h3>
											<p>Ready to escape reality? VR takes you on a mind-bending journey to worlds you've only dreamt of. Create your own virtual wonders and explore uncharted territories. It's like stepping into a sci-fi adventure!</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<h3 class="major">Drones</h3>
											<p>Take to the skies and conquer the airwaves with drones. Capture breathtaking aerial views, deliver packages, or explore the great outdoors from a bird's-eye view. The sky is not the limit; it's just the beginning!</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
									<ul class="actions">
										<li><a href="#" class="button">Browse All</a></li>
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Have questions or eager to jump into the tech adventure at Wired Minds BC Hub? We'd love to hear from you! Whether you're a curious student, a faculty member with groundbreaking ideas, or a tech enthusiast from the community, connect with us below</p>

							<!--Email Form-->
							<form 
								method="POST" 
								action="https://formsubmit.co/mashigokagisotshepang@gmail.com" 
								target="http://localhost:3500"
								>


								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name"  required/>
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" required/>
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="4" required></textarea>
									</div>
									<div class="field">
										<input type="hidden" name="_captcha" value="false"/>
									</div>

								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>

							</form>

							<ul class="contact">
								<li class="icon solid fa-home">
									Wired Minds BC Hub<br />
									Belgium Campus<br />
									Gauteng, Pretoria North
								</li>
								<!--<li class="icon solid fa-phone">(000) 000-0000</li>
								<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
								<li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>-->
								
							</ul>
							<ul class="copyright">
								<li>&copy; 2024 Wired Minds. All rights reserved.</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>