<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <!-- Required meta tags for responsiveness -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS link -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for the login page -->
        <style>
            body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #2e3141;
            background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8));
            background-size: auto
            }

            .login-container {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            background-color: #fff;
            }
        </style>
        </head>
    <body>
        <div class="login-container">
            <h2 class="mb-4">Login</h2>
        
            <!-- Login form -->
            <form action="/login" method="post"> <!-- Assuming the login endpoint is '/login' -->
                <!-- Username input -->
                <div class="form-group">
                    <label for="fullName">FullName</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter your full name">
                </div>
        
                <!-- Password input -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                </div>
        
                <!-- Display login error message if any -->
                <% if (typeof errorMessage !== 'undefined') { %>
                    <p class="text-danger"><%= errorMessage %></p>
                <% } %>
        
                <!-- Login button -->
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <br>
                <a href="http://localhost:3500/signup">Signup</a>
                <br>
                <a href="http://localhost:3500">Home</a>
            </form>
        </div>

        <!-- Bootstrap JS and Popper.js scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
