<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized - 401</title>
    <style>
        body {
        background-color: #2e3141;
        background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8));
        background-size: auto
        }
        .container {
        margin-top: 100px;
        text-align: center;
        color: white;
        }
    </style>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Unauthorized - 401</h1>
        <p>Oops! It seems you don't have the necessary permissions to access this page.</p>
        <p>Please log in or contact the administrator for assistance.</p>
        <!-- You can include additional information or instructions here -->
    </div>
</body>
</html>